<div>
  <nav>
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Main</a
    >
    <a routerLink="/summary" routerLinkActive="active">Summary</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
  </nav>
  <router-outlet></router-outlet>
</div>
